@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Open+Sans:wght@300;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Kalam', cursive;
    margin: 0;
}

a {
    text-decoration: none;
    color: #453121;
}

a:hover {
    text-decoration: underline;
}

figcaption a {
    font-size: 0.8rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 60px;
}

header {
   background: #C94A62;
   color: #FFFFFF;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: #FFFFFF;
    font-weight: 700;
}

nav ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #FA6B86;
}

#intro {
    background: #EADDCA;
}

#intro .container {
    display: flex;
    gap: 60px;
    align-items: center;
}

#intro .content {
    flex: 2;
}

#intro figure {
    flex: 1;
    margin: 0;
    text-align: center;
}

#intro figure img {
    max-width: 100%;
    border-radius: 50%;
}

#about {
    background: #C19A6B;
}

#about .container {
    display: flex;
    flex-direction: column;
   align-items: center;
}

#about .gallery {
    display: flex;
    flex-wrap: wrap;
}

#about .gallery figure {
    margin: 0;
    width: 250px;
    text-align: center;
    padding: 20px;
}

#about .gallery figure img {
    max-width: 100%;
    border-radius: 50%;
}

#about .gallery figcaption {
    margin-top: -25px;
}

#about .gallery figcaption h3 {
    background: #FAECD7;
    transform: rotate(357deg);
    box-shadow: 3px 3px 10px #7A6545;
}

#quote {
    background: #EADDCA;
}

#quote .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 800px;
}

#quote p {
    margin: 0;
    font-style: italic;
}

#quote blockquote {
    margin: 0;
}

#quote blockquote p {
    font-size: 2rem;
    font-family: 'Kalam', cursive;
}

#quote blockquote p::before {
    content: '\201C';
    font-size: 2rem;
    color: #C94A62;
    font-weight: 700;
}

#quote blockquote p::after {
    content: '\201D';
    font-size: 2rem;
    color: #C94A62;
    font-weight: 700;
}

#recipe {
    background: #C19A6B;
}

#recipe .container {
    display: flex;
    justify-content: center;
}

#recipe .banner {
    display: flex;
    align-items: center;
    background: white;
    width: 800px;
    padding: 15px 60px;
    column-gap: 15px;
    border-radius: 30px;
}

#recipe .banner .banner-text {
    flex: 1;
}

#recipe .banner a {
    display: block;
    background: #C94A62;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #C94A62;
}

footer .container {
    padding: 20px;
    text-align: center;
}