body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 60px;
}

header {
   background: #D97E8E;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

#intro {
    background: #EADDCA;
}

#intro .container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#intro .content {
    flex: 2;
}

#intro figure {
    flex: 1;
    margin: 0;
    text-align: center;
}

#intro figure img {
    max-width: 100%;
    border-radius: 50%;
}

#about {
    background: #C19A6B;
}

#about .container {
    display: flex;
    flex-direction: column;
   align-items: center;
}

#about .gallery {
    display: flex;
    flex-wrap: wrap;
}

#about .gallery figure {
    margin: 0;
    width: 250px;
    text-align: center;
    padding: 20px;
}

#about .gallery figure img {
    max-width: 100%;
    border-radius: 50%;
}

#quote {
    background: #EADDCA;
}

#quote .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 800px;
}

#quote p {
    margin: 0;
}

#quote blockquote {
    margin: 0;
}

#quote blockquote p {
    font-size: 2rem;
}

#quote blockquote p::before {
    content: '\201C';
    font-size: 2rem;
}

#quote blockquote p::after {
    content: '\201D';
    font-size: 2rem;
}

#recipe {
    background: #C19A6B;
}

#recipe .container {
    display: flex;
}

footer {
    background: #D97E8E; 
}